<footer id="footer" class="">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<p class="social-icons">
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-facebook"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-dribbble"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
							<a href="#"><i class="fab fa-airplane"></i></a>
						</p>
					</div>
					<div class="col-md-6 text-center">
						<p>Copyright {% now "Y" %} <a href="https://integratehealth.org/" target="_blank">SI</a>. All Rights Reserved. Made with <i style="color:orangered" class="fa fa-heart"></i>
							by <a href="mailto:kossi.tsolegnagbo@aiesec.net" target="_blank">M. Kossi <img
									src="/media/images/kossi_thumb.png" alt="" id="author"></a>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</footer>


