		<header id="app-header" class="app-header-c">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-nav-toggle nav-toggle dark"><i></i></a>
					<h1 id="logo">
						<a href="{% url 'home' %}">
							<img src="/media/images/SI.png" alt="Santé Intégrée">
							<i>Santé Intégrée</i>
						</a>
					</h1>

					<!-- START #menu-wrap -->
					<nav id="menu-wrap" role="navigation" class="animate-box">
						<ul class="sf-menu" id="primary-menu">
							{% if user.is_authenticated and request.session.username %}
							<li class="active"><a href="{% url 'home' %}">Acceuil</a></li>
							
							<li>
								<a onclick="return false;" href="" class="sub-ddown">Formulaires ▾</a>
								<ul class="sub-menu">
									<li class="active"><a href="{% url 'chws_create' %}">ASC</a></li>
									<li class="active"><a href="{% url 'usps_create' %}">USP</a></li>
									<li class="active"><a href="{% url 'usps_motifs_create' %}">Fiches USP</a></li>
								</ul>
							</li>
							<li>
								<a onclick="return false;" href="" class="sub-ddown">Rapports ▾</a>
								<ul class="sub-menu">
									<li><a href="{% url 'dashboard' %}">TABLEAU DE BORD</a></li>
									<li><a href="#">Rapport Kozah</a></li>
									<li><a href="#">Rapport Bassar</a></li>
									<li><a href="#">Rapport Dankpen</a></li>
									<li style="border:0.5px solid rgb(83, 83, 83); width:100%;background:rgb(83, 83, 83);"></li>
									<li><a href="#">CHWS_DATA</a></li>
									<li><a href="#">USP_DATA</a></li>
								</ul>
							</li>
							<li>
								<a onclick="return false;" href="" class="sub-ddown">A Propos ▾</a>
								<ul class="sub-menu">
									<li><a href="#">Contact</a></li>
									<li><a href="#">Informations</a></li>
								</ul>
							</li>
							<li>
								<a onclick="return false;" href="" class="sub-ddown">Données ▾</a>
								<ul class="sub-menu">
									<li><a href="#">Synchroniser</a></li>
								</ul>
							</li>

							<li>
								<a id="user-icon-a" onclick="return false;" href="" class="sub-ddown">
									<img src="/media/{{ request.session.small_user_profile_img_url }}" alt="{{ request.session.username|upper }}" id="user-icon"> 
									{% if request.session.small_user_profile_img_url == "" %} ▾{% endif %}	 
								</a>
								<ul class="sub-menu">
									<li><a href="{% url 'profile' %}">Profile</a></li>
									<li><a href="{% url 'logout' %}">Déconnection</a></li>
									<li>
										<a onclick="return false;" href="" class="sub-ddown">Paramettre ▾</a>
										<ul style="margin-left:-150px; margin-top:30px"  class="sub-menu">
											<li><a href="">Modifier Mot de passe</a></li>
											<li><a href="">Paramettres Utilisateurs</a></li>
											<li><a href="/si_admin/" target="_blank">ADMIN</a></li>
											<li><a href="{% url 'create_db_csv_file' %}">Create CSV File</a></li>
											
										</ul>
									</li>
								</ul>
							</li>
							{% else %}
							<li><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
							<li><a class="navbar-link" href="{% url 'register' %}">Registration</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</header>

		
		
		