

body {
  font-family: Georgia, Times, "Open Sans", Arial, sans-serif, 'Times New Roman', serif, Cambria, Cochin;
  line-height: 1.6;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #006f9b !important;
}
body.offcanvas {
  overflow: hidden;
}

a {
  color: orangered;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}

a:hover {
  text-decoration: none;
  color: orangered;
}

#header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}

.stuck {
  position: fixed !important;
  top: 0 !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

/* Superfish Override Menu */
.sf-menu {
  margin: 7px 0 0 0 !important;
}

.sf-menu {
  float: right;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  *width: 12em;
}

.sf-menu a {
 /* color: #F78536; */
  color: #fcfcfc;
  padding: 0.75em 1em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 16px;
  border-bottom: none !important;
  font-weight: bold;
}
.sf-menu a:hover, .sf-menu a:focus {
  color: #C8EEFD !important;;
}

.sf-menu li.active a:hover, 
.sf-menu li.active a:focus {
  color: orangered;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: 0.2em 1em !important;
  letter-spacing: 1px;
  font-size: 14px !important;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: orangered;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #C8EEFD !important;;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #C8EEFD !important;;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #C8EEFD !important;;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #C8EEFD !important;;
}


#app-header {
  padding: 0;
  margin-top: -1em; 
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1022;
  background: #000;
  max-height: 5em;
  border-bottom: 10px solid orangered;
}


.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

#menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  margin-top: 15px;
}
#menu-wrap .sf-menu a {
  padding: 1em .75em;
}



#primary-menu > li > .sf-with-ul:after {
  border: none !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: -0px;
  top: 50%;
  font-size: 12px;
  margin-top: -7px;
  content: "";
  color: rgba(0, 0, 0, 0.5);
}

#primary-menu > li > ul li.active > a {
  color: #05465f !important;;
}

#primary-menu > li > ul li.active > a:hover {
  color: orangered !important;;
}


#primary-menu > li > ul li {
  position: relative;
}
#primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 20px;
  font-size: 12px;
  content: "";
  color: rgba(0, 0, 0, 0.5);
}

#primary-menu .sub-menu {
  padding: 10px 7px 10px;
  background: #fff;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#primary-menu .sub-menu > li > .sub-menu {
  left: 100%;
}

#primary-menu .sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: '';
}

#primary-menu .sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  content: '';
}

#primary-menu .sub-menu .sub-menu:before {
  top: 6px;
  left: 100%;
}

#primary-menu .sub-menu .sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}


#primary-menu .sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 18px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
}

#primary-menu .sub-menu a:hover {
  color: orangered !important;;
}



div.cs-select span {
  padding: 10px 10px;
}

.cs-skin-border {
  font-size: 16px;
  color: #fff;
}
@media screen and (max-width: 829px) {
  .cs-skin-border {
    max-width: 829px !important;
  }
}
@media screen and (max-width: 30em) {
  .cs-skin-border {
    font-size: 16px;
  }
}

#footer {
  /*background: #393e46;*/
  padding: 10px 0 10px;
  margin-bottom: -1em; 
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  z-index: -2;
  background: #000;
  border-top: 10px solid orangered;
}

.js .animate-box {
  opacity: 0;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

.offcanvas {
  overflow: hidden;
}
.offcanvas #wrapper {
  overflow: hidden !important;
}

#app-body {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #app-body {
  -moz-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  transform: translateX(-240px);
}


@media screen and (max-width: 990px) {
  #menu-wrap {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #menu-wrap {
    display: none;
  }
}




#offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
  display: none;
}


@media screen and (max-width: 990px) {
  #offcanvas-menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #offcanvas-menu {
    display: block;
  }
}
#offcanvas-menu ul {
  padding: 0;
  margin: 0;
}
#offcanvas-menu ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#offcanvas-menu ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover {
  color: orangered;
}
#offcanvas-menu ul li > .sub-menu {
  margin-top: 9px;
  padding-left: 20px;
}
#offcanvas-menu ul li.active > a {
  color: orangered;
}
#offcanvas-menu ul .sub-menu {
  display: block !important;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 990px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}

@media screen and (max-width: 990px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}
.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 990px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 990px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 990px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 990px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}
